.radio {
    height: 24px;
    width: 24px;
    accent-color: black;
}

.radio:checked {
    accent-color: black;

}

.label {
    display: flex;
    gap: 11px;
}

.options {
    display: flex;
    flex-direction: column;
    height: 115px;
    min-width: 105px;
    gap: 16px;
}
