.App {
    --header_height: 60px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hw {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    padding-top: 25px;
    

}

.hwTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    color: #000;
    padding-top: 130px;
}


