.greetingForm {
    width: 1280px;
    height: 372px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #c00;
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.input:focus {
    
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.errorInput {
    border: 1px solid #c00;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.button {
    border: none;
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background: #06c;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}

.button:focus {
    background-color: rgb(17, 6, 146);
}

.button:active {
    background-color: rgb(52, 44, 147);
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
