.sendForm {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 45px;
    padding-bottom: 70px;
}

.textarea {
    border: none;
    resize: none;
    border-radius: 20px;
    width: 975px;
    height: 40px !important;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    padding: 11px 25px;
    overflow: hidden;
}

.button {
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background: #06c;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.button:hover {
    background: #fff;
    color: #06c;
    border:2px solid #06c;
    transform: scale(1.1); 
    transition: all 0.2s ease-out;
}
.button:active {
    background: #fff;
    color: #06c;
    border-color: #06c;
    transform: scale(1); 
    transition: all 0.2s ease-out;
}
