.container {
    display: flex;
    flex-direction: column;
    gap: 40px;  
    margin-top: 17px;  
    height: 109px;
    width: 403px;
}

.wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    
}

.number {
    

    height: 20px;
    width: 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #000;
    align-content: end;
}
